[submodule "charts/vault"]
	path = charts/vault
	url = https://github.com/basisai/helm-charts.git
[submodule "charts/consul-backup-gcs"]
	path = charts/consul-backup-gcs
	url = https://github.com/basisai/consul-backup-gcs.git
[submodule "charts/gcloud-cron"]
	path = charts/gcloud-cron
	url = https://github.com/basisai/gcloud-cron.git
[submodule "charts/consul"]
	path = charts/consul
	url = https://github.com/hashicorp/consul-helm.git
[submodule "charts/basisai"]
	path = charts/basisai
	url = https://github.com/basisai/charts
[submodule "charts/fluent-bit"]
	path = charts/fluent-bit
	url = git@github.com:basisai/helm-charts.git
	branch = fluentbit-stackdriver-backend
